<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>800</integer>
    <key>copyright</key>
    <string>Copyright (c) 2024, The Blockbone Project Authors (https://github.com/mitradranirban/blockbone)</string>
    <key>descender</key>
    <integer>-200</integer>
    <key>familyName</key>
    <string>BlockBone</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>note</key>
    <string>2024-11-22: Created with FontForge (http://fontforge.org)</string>
    <key>openTypeHeadCreated</key>
    <string>2024/11/22 05:50:32</string>
    <key>openTypeHheaAscender</key>
    <integer>770</integer>
    <key>openTypeHheaDescender</key>
    <integer>-10</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameVersion</key>
    <string>Version 0.001</string>
    <key>postscriptFontName</key>
    <string>BlockBoneSerif</string>
    <key>postscriptFullName</key>
    <string>BlockBone Serif</string>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>BlockBone Serif</string>
    <key>styleName</key>
    <string>Serif</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>1</integer>
  </dict>
</plist>
